body{
	background: rgb(30, 30, 30);
	color: rgb(255, 255, 255);
}
a{
	text-decoration: none;
	text-decoration: underline;
	color: rgb(255, 255, 255);
}
select{
	background: rgb(0, 0 , 0);
	color: rgb(255, 255, 255);
}
.fb-comments{
	color: rgb(255, 230, 230);
}