body{
	background: black;
	color: white;
}
code {
  display: block;
	background-color: rgb(43, 43, 43);
	font-family: monospace;
  white-space: pre-wrap;
	color: green;
	text-align: justify;
	font-size: 9pt;
	padding: 15px;
}
a{
	text-decoration: none;
	text-decoration: underline;
	color: rgb(255, 255, 255);
}
select{
	background: rgb(0, 0 , 0);
	color: rgb(255, 255, 255);
}
#content{
	background: black;
	color: white;
}

#comment{
	background: #FFFFFF;
}

#green{
	color:green;
}
